@model MVCDemo.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<div>
    <h2>Employee Details</h2>

    <table class="table">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee City</th>
            <th>Employee Gender</th>
            <th>Employee Dept ID</th>
            <th></th>

        </tr>

        <tr>
            <td>@Model.EmpId</td>
            <td>@Model.EmpName</td>
            <td>@Model.EmpCity</td>
            <td>@Model.EmpGender</td>
            <td>@Model.DepartmentId</td>

        </tr>

    </table>
    <br />
    <b>@Html.ActionLink("Back to Employee List", "Index", new { departmentId = Model.DepartmentId})</b>

</div>



