@model IEnumerable<BusinessLayer.Employee1>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Employee ID
        </th>
        <th>
            Department ID
        </th>
        <th>
           Employee Name
        </th>
        <th>
            Employee City
        </th>
        <th>
            Employee Gender
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmpId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmpName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmpCity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmpGender)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EmpId }) |
         |
        @Html.ActionLink("Delete", "Delete", new { id = item.EmpId })
    </td>
</tr>
}

</table>
